* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inconsolata{
  font-family: 'Inconsolata', monospace;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
section{
  position: relative;
  background-color: white;
  padding: 1em 3em;
  background:
    linear-gradient(#ebebeb,#ebebeb) calc(1*100%/6),
    linear-gradient(#ebebeb,#ebebeb) calc(2*100%/6),
    linear-gradient(#ebebeb,#ebebeb) calc(3*100%/6),
    linear-gradient(#ebebeb,#ebebeb) calc(4*100%/6),
    linear-gradient(#ebebeb,#ebebeb) calc(5*100%/6);
  background-size:1px 100%;
  background-repeat:no-repeat;
  overflow-x: hidden;
}
.brd{
  border: 3px solid red;
}
.section-title{
  font-size: 2em;
  padding: 0
}
.section-title h1{
  background-color: black;
  color: white;
  display: inline-block;
  margin: 0;
}
.section-undertitle{
  font-family: 'Inconsolata', monospace;
  font-size: 1.3em;
}

.main-wrapper{
  width: 100%;
  padding-left: 70px;
}

/*sidemenu*/
.sidemenu{
  position: fixed;
  height: 100vh;
  width: 70px;
  border-right: 1px solid #ebebeb;
  padding: 1em 0;
  z-index: 4;
  background-color: white;
}
.sidemenu-mobile{
  display: none;
}
.logo{
  transition: 1s ease;
  cursor: pointer;
}
.logo:hover{
  color: #ebebeb;
  transition: 1s ease;
}
.menu-links{
  display: none;
}
.menu-links p{
  cursor: pointer;
}
.menu-links p:hover{
  /* color: gray; */
  text-decoration: line-through;
}

#menu_checkbox{
  display: none;
}
label
{
  position: relative;
  display: block;
  width: 25px;
  height: 40px;
  margin:  0 auto 0 auto;
  cursor: pointer;
}
label div
{
    position: relative;
    top: 0;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
    border-radius: 2px;
}

label div:first-child
{
    transform-origin: 0;
}

label div:last-child
{
    margin-bottom: 0;
    transform-origin: 14px;
}

label div:nth-child(2)
{
    right: 0;
}

#menu_checkbox:checked + label div:first-child
{
    /* top: -6px; */
    transform: rotateZ(45deg);
    width: 30px;
}

#menu_checkbox:checked + label div:last-child
{
    top: -4px;
    left: -5px;
    /* display: none; */
    transform: rotateZ(-45deg);

}

#menu_checkbox:checked + label div:nth-child(2)
{
    /* width: 25px; */
    /* top: 0;
    right: 13px; */
    transform: rotateZ(-45deg);
}

.menu-wrapper{
  font-size: 1.5em;
  cursor: pointer;
}

/*1 section*/
#section-1{
  height: 100vh;
  margin-top: 0;
  overflow-x: hidden;
}
.main-title{
  font-size: 3em;
  width: 40%;
  position: absolute;
  top: 20%;
  z-index: 2;
}
.main-title h1{
  background-color: black;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 10px 5px
}
@keyframes move-animation {
  from {transform:translate(0);}
  25%  {transform:translate(20px);}
  50%  {transform:translate(0, 20px);}
  to   {transform:translate(0);}
}
@keyframes pulse-animation{
  from {transform:scale(1, 1) rotate(20deg);}
  50%  {transform:scale(1.2, 1.2) rotate(20deg);}
  to   {transform:scale(1, 1) rotate(20deg);}
}
@keyframes m-animation{
  from {left: -900px; transform: rotate(-50deg)}
  to   {left: 100px; transform: rotate(0)}
}
@keyframes u-animation{
  from {right: -1000px; transform: rotate(50deg)}
  to   {right: 200px; transform: rotate(0deg)}
}
.animated-img{
  position: absolute;
  animation: move-animation 6s linear infinite;
  z-index: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#m1{
  position: absolute;
  left: -900px;
  top: 370px;
  animation-name: m-animation;
  animation-duration: 0.4s;
  animation-delay: 1.0s;
  animation-fill-mode: forwards;
 }
#m1 img {
  height: 670px
}
#u1{
  position: absolute;
  right: -1000px;
  top: 50px;
  animation-name: u-animation;
  animation-duration: 0.4s;
  animation-delay: 1.0s;
  animation-fill-mode: forwards;
 }
#u1 img {
  height: 670px
}
#ai1{
 bottom: 100px;
 animation-name: pulse-animation;
 animation-duration: 4s;
}
#ai2{
  left: 10%;
  top: 100px;
  animation-duration: 5s;
}
#ai3{
  right: 30%;
  bottom: 100px;
  animation-name: pulse-animation;
}
#ai4{
 right: 30px;
}
@keyframes blackbox{
  from {top: -1000px}
  to   {top: -50px}
}
.blackbox{
  border: 5px solid black;
  position: absolute;
  top: -50px;
  left: 10%;
  width: 80%;
  height: 80vh;
  z-index: 0;
  animation-name: blackbox;
  animation-duration: 0.9s;
}

/*2 section*/
.portfolio-holder{
  margin-top: 1em;
}
.portfolio-column{
  margin: 0 1em;
}
.portfolio-item{
  display: inline-flex;
  position: relative;
  height: 100%;
  cursor: pointer;
}
.portfolio-item img{
  width: 100%;
  transition: 1s ease;
}
.portfolio-item img:hover{
  transition: 1s ease;
  transform: translate(-7px);
}
.portfolio-item h3{
  position: absolute;
  color: #fff;
  background-color: #000;
  left: 0;
  top: 60%;
  padding: 1em 0.5em;
  margin: 0;
}

/*3 section*/
.worked-holder{
  width: 100%;
  padding-left: -70px;
  margin-top: 3em;
}
.worked-row{
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5em;
}
.worked-item{
  font-size: 4em;
}

/*4 section*/
#section-4{
  padding: 2em 0;
}
.contact-us-wrapper{
  width: 100%;
  position: relative;
  margin-bottom: 5em;
}
.contact-us-wrapper h1{
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 9em;
  font-weight: normal;
  color: #5deddabd;
}
.contact-us-wrapper h1:first-child{
  transform: translate(-10px, -5px);
  color: #ff2582;
}
#ai1-4{
  left: 300px;
}
#ai2-4{
  right: 240px;
}
.contact-button{
  z-index: 1;
}
.contact-button button{
  border: none;
  padding: 0 1em;
  background-color: white;
  color: black;
  font-size: 2em;
  border: 3px solid black;
  cursor: pointer;
  transition: 1s ease;
}
.contact-button button:hover{
  transition: 1s ease;
  transform: scale(1.1);
  color: white;
  background-color: black;
}

/*footer*/
#footer{
  background: black;
  color: white;
  height: 50vh;
  position: relative;
}
.footer-content{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.social{
  width: 100%;
}
.social div{
  cursor: pointer;
  font-size: 2em;
  transition: 1s ease;
}
.social div:hover{
  transition: 1s ease;
  color: #ebebeb;
  text-shadow:
    0 0 7px rgb(0, 247, 255),
    0 0 21px rgb(145, 255, 0)
}

/*Contact Form*/
.contact-form-holder{
  display: none;
  position: fixed;
  z-index: 3;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(19 21 23) 85%);
  top: 0;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  width: 100vw;
  height: 100vh;
}
.contact-form{
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1em;
}
.close-form{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
.input-wrapper{
  width: 100%;
  margin-bottom: 1em;
}
.contact-form input {
  resize: none;
  width: 100%;
  padding: 0.5em;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  font-family: 'Poppins', sans-serif;
}
.contact-form textarea {
  width: 100%;
  resize: none;
  font-family: 'Poppins', sans-serif;
}
.contact-form button {
  padding: 0.5em;
  border: none;
  outline: none;
  width: 50%;
  font-family: 'Poppins', sans-serif;
  border: 3px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}
.contact-form button:hover {
  transition: 0.5s ease;
  background-color: white;
  color: black;
}

/*Responsive*/

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media screen and (max-width: 770px) {
  body {
     width: 100vw;
     overflow-x: hidden;
  }
  .main-wrapper{
    padding-left: 0;
    overflow-x: hidden;
  }
  .sidemenu{
    display: none;
  }
  .sidemenu-mobile{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 1em;
    z-index: 3;
    background-color: white;
    border-bottom: 4px solid black;
  }
  .logo h2{
    margin: 0;
  }
  .main-title{
    font-size: 2em;
    width: 100%;
    position: absolute;
    top: 450px;
    z-index: 2;
  }
  .blackbox{
    display: none;
  }
  .animated-img{
    display: none
  }
  section{
    padding: 0 1em;
    position: relative;
    background-color: white;
    background: none;
    width: 100%;
    overflow-x: hidden;
  }
  .section-title{
    font-size: 1em;
  }
  .section-undertitle{
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
  }
  .portfolio-holder{
    flex-direction: column;
  }
  .portfolio-holder h3{
    font-size: 1em;
  }
  .footer-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .social{
    width: 50%
  }
  .contact-form{
    width: 90%;
  }
  .contact-us-wrapper h1{
    font-size: 4em;
  }
  #m1 {
    top: 70px;
  }
  #u1 {
    top: 330px
  }
  #m1 img {
    height: 230px
  }
  #u1 img {
    height: 230px
  }
  @keyframes m-animation{
    from {left: -900px; transform: rotate(-50deg)}
    to   {left: 30px; transform: rotate(0)}
  }
  @keyframes u-animation{
    from {left: -900px; transform: rotate(-50deg)}
    to   {left: 130px; transform: rotate(0)}
  }
}
